#header {
    background-color: #4090bf;
    padding: 7px;
    color: white;
}

#header #headerName {
    margin: 0 20px;
    font-size: 35px;
}

#header #searchField {
    width: 550px;
    height: 25px;
}

body {
    background-color: #e8e8e8;
}

.messageCard {
    background-color: white;
    border-style: solid;
    border-color: lightgrey;
    border-width: 1px;
    margin: 10px;
    padding: 10px;
}

.messageCard .userIcon {
    float: left;
    margin: 0 15px 0 0;
}

.messageCard .usernameAndDate {
    float: left;
    font-family: Arial;
}

.messageCard .messageAuthor {
    color: #3b5998;
    font-weight: bold;
}

.messageCard .messageReason {
    color: gray;
    font-style: italic;
}

.messageCard .messageDate {
    color: gray;
    padding: 0px;
    font-size: smaller;
}

.messageCard .messageReason {
    color: #888888;
    font-style: italic;
    font-size: smaller;
}

.messageCard .messageText {
    clear: both;
    padding: 10px 0;
    font-size: small;
}

.messageCard .messageButtons {
    padding: 5px 20px;
    color: #4090bf;
    font-family: Arial;
}

.inactive-text {
    color: grey;
}
.cursor-pointer {
    cursor: pointer;
}

.errorMsg {
    // background-color: #EAC117; // golden brown;
    background-color: lightyellow;
    padding: 0px 0px 0px 20px;
}

.red {
    color: orangered;
}

a {
    color: #888888;
}

.customButton {
    width: 78px;
}

#school-panel {
    color: gray;
    margin: 0 0 0 85px;
}

#school-panel td {
    font-size: 80%;
}

.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none;
}

.truncate {
    table-layout: fixed;
}

.truncate td {
    width:250px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
