.messageCard {
    background-color: white;
    border-color: lightgrey;
    border-style: solid;
    border-width: 1px;
    margin: 10px;
    padding: 10px;
    word-break: break-word;
}

.messageCard .userIcon {
    float: left;
    margin: 0 15px 0 0;
}
.messageCard .usernameAndDate {
    float: left;
    font-family: Arial;
}

.messageCard .messageAuthor {
    color: #3b5998;
    font-weight: bold;
}

.messageCard .messageReason {
    color: gray;
    font-style: italic;
}

.messageCard .messageDate {
    color: gray;
    padding: 0px;
    font-size: smaller;
}

.messageCard .messageReason {
    color: #888888;
    font-style: italic;
    font-size: smaller;
}

.messageCard .messageText {
    clear: both;
    padding: 10px 0;
    font-size: small;
}

.messageCard .messageFooter {
    font-size: medium;
    cursor: pointer;
}
.messageCard .messageFooterButton {
    padding: 0 20px 0 20px;
}

.messageCard hr {
    margin: 3px;
}

.messageCard .messageComments {
    font-size: small;
    padding: 0 0 0 50px;
}

.inactive-text {
    color: grey;
}
.errorMsg {
    // background-color: #EAC117; // golden brown;
    background-color: lightyellow;
    padding: 0px 0px 0px 20px;
}

.customButton {
    width: 78px;
}

#school-panel {
    padding: 20px 10px;
}
.rightPanel {
    padding-top: 16px;
}

.rightPanel h3 {
    margin-left: 10px;
}

#school-panel #school-header {
    color: black;
    font-weight: bold;
}
#school-panel ul {
    padding-left: 16px;
}
#school-panel li {
    font-size: 12px;
    text-decoration: underline;
}
#school-panel li:hover {
    /* background-color: lightgrey; */
    color: blue;
}
.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none;
}

.truncate {
    table-layout: fixed;
}

.truncate td {
    width:250px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.url-preview {
    border: solid 3px lightgrey;
    margin: 10px 20px 20px;
    font-size: 0.8em;
}
.url-preview div {
    margin: 10px;
}
.url-preview .url-credit {
    color: grey;
}
.url-preview .url-thumbnail img {
    max-width: 100%;
    margin-left: 0px;
}
.url-preview .url-title {
    font-weight: bold;
}