/* Header Styling */

#header {
    background-color: #4090bf;
    color: white;
}
#header.homepage-header {
    background-color: transparent;
}
#header #header-menu-triangle {
   padding-left: 40px;
}
#header #header-menu {
   display: none;
   border: solid 1px grey;
   position: absolute;
   list-style-type: none;
   background-color: white;
   color: black;
   text-align: left;
   padding: 15px;
   top: 30px;
   right: 12px;
   z-index: 1;
}
#header #header-menu li {
   padding: 7px;
   font-size: 12px;
   cursor: pointer;
}
#header #header-menu li:hover {
   background-color: gold;
}
@media (min-width: 768px) {
   #header-search {
      margin-top: 12px;
      padding-left: 35px;
   }
   #header-search input {
      height: 25px;
   }
   #header-login {
      display: block;
      text-align: right;
      margin-top: 12px;
   }
   #header-login input {
      height: 25px;
   }
}
.arrow-down {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;

  border-top: 10px solid white;
  margin-top: 8px;
}
.arrow-down:hover {
  border-top: 10px solid gold;
}

/* home page specific header */

#header #company-name {
    font-size: 35px;
    cursor: pointer;
    padding-left: 50px;
}
#header #company-name span.small {
    font-size: 0.5em;
}
#header.homepage-header #company-name {
    margin-top: 12px;
}
#header.homepage-header #company-name span{
    padding: 0px;
    font-family: san-sarif;
    font-size: 40px;
    font-weight: bold;
}
@media (max-width: 476px) {
    #header.homepage-header #company-name span{
	padding-bottom: 0px;
    }
}
#header #env-name {
    color: #f87431;
    position: absolute;
    top: 7px;
    left: 10px;
    font-size: 10px;
}
#header #header-login {
    margin-bottom: 10px;
}
#header #header-login .btn {
   padding: 0 10px;
}
#header #header-login form {
    clear: both;
    float: right;
}
#header #forgotpw-link {
    color: grey;
    cursor: pointer;
    font-size: 12px;
    padding-top: 5px;
}
@media (max-width: 767px) {
    #header #forgotpw-link {
	color: white;
    }
}
#header #forgotpw-panel {
    display: none;
    position: absolute;
    z-index: 1;
    right: 0px;
    width: 500px;
    background-color: white;
    padding: 5px 15px 40px;
    text-align: center;
}
#header #forgotpw p {
    padding: 10px;
    color: black;
}
#header #forgotpw h3 {
    color: black;
}
.user-msg {
    background-color: white;
    color: green;
    text-align: center;
    padding: 10px;
}
.user-msg.error {
    color: #c93838; /*red */
}
