#header {
    background-color: #4090bf;
    color: white;
}
#header #company-name {
    font-size: 35px;
    cursor: pointer;
}
#header #header-login {
   margin-bottom: 10px;
}
#header #header-login .btn {
   padding: 0 10px;
}
#header form {
   float: right;
}
#header #header-menu-triangle {
   padding-left: 40px;
}
#header #header-menu {
   display: none;
   border: solid 1px grey;
   position: absolute;
   list-style-type: none;
   background-color: white;
   color: black;
   text-align: left;
   padding: 15px;
   top: 30px;
   right: 12px;
   z-index: 1;
}
#header #header-menu li {
   padding: 7px;
   font-size: 12px;
}
#header #header-menu li:hover {
   background-color: gold;
}
@media (min-width: 768px) {
   #header-login {
      display: block;
      text-align: right;
      margin-top: 12px;
   }
   #header-login input {
      height: 25px;
   }
}
.arrow-down {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;

  border-top: 10px solid white;
  margin-top: 8px;
}
.arrow-down:hover {
  border-top: 10px solid gold;
}
