body {
    background-color: #e8e8e8;
}

DIV {
  /* border: solid 2px black; */
}
.red {
    color: orangered;
}
.right {
    float: right;
}
.search-term {
    background-color: #FFC31E; /* light Orange */
}
.visible {
    visibility: block;
}
.not-visible {
    visibility: hidden;
}
.cursor-pointer {
    cursor: pointer;
}
.clear {
    clear: both;
}