body {
    margin: 0px;
}

#header {
    background-color: #2e9afe;
}

#header #headerName {
    margin: 50px 20px 50px 100px;
    font-size: 30px;
    color: white;
}

#header #searchBar {
    margin: 20px 1px
}

#header #loginInfo {
    float: right;
    margin: 10px 100px;
    color: white;
}

#footer {
    margin: 50px 100px;
}
