TABLE.profileTable tr td {
   padding: 5px;
}
TABLE.profileTable tr th {
   padding: 8px;
   background-color: lightgrey;
   border: solid 1px #e8e8e8;
}

.profileRowHeader {
    font-weight: bold;
}
.smaller-text {
    font-size: smaller;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
#change-pw {
    padding: 10px 0px 20px;
    width: 275px;
}
#change-pw-fields {
    padding: 10px 10px;
    border: solid 1px grey;
}
#change-pw-form {
    /* display: none; */
}
#change-pw .missing-value {
   border-color: red;
}
#profile-pic #profile-pic-action-text{
    position: relative;
    width: 100%;
}
#profile-pic p#profile-pic-action-text {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    color: orange;
}