

<form class='messageCard' novalidate>
  <div class='newMessage' ng-controller='messageController as messageCtrl'>
    <img class='img-thumbnail' src='images/generic_icon.png'></img>
    <span class='.form-group'>
      <textarea class='newMessageText form-control' rows='2'
		ng-model='messageCtrl.new_message.text' placeholder="What's up?"></textarea>
      <button type="button" class="postButton btn btn-primary"
	      ng-click='messageCtrl.update()'>Post</button>
    </span>
  </div>
</form>
